body {
  background-image: url(https://t3.ftcdn.net/jpg/04/70/06/94/360_F_470069459_PL6lWEUsps1aWJuiIGfU4eXAYqsIOvUN.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
