body {
  background-image: url(https://t3.ftcdn.net/jpg/04/70/06/94/360_F_470069459_PL6lWEUsps1aWJuiIGfU4eXAYqsIOvUN.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  width: 300px;
  height: 200px;
  line-height: 100px;
  margin-bottom: 10px;
}

.weather-box-city,
.weather-box-temp,
.weather-box-description {
  font-weight: bold;
  text-align: center;
}

.weather-btn {
  margin: 2px;
}
